@import '../../variables.scss';

.homeheader-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    outline: 1px solid #a52a2a;
    color: $azure;


    .menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 99;
        display: flex;
        flex-direction: column;
        padding-top: 75px;
        animation: slideIn 0.3s ease-out;
        flex: 1;

        .menu-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80%;
            gap: 40px;

            .mob-nav {
                font-weight: 600;
                font-size: 36px;
                text-align: center;
                cursor: pointer;

                .active,
                &:hover {
                    color: $red
                }
            }
        }

        .menu-sub {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .sub-nav {
                font-weight: 600;
                font-size: 24px;
                cursor: pointer;
                text-align: center;

                &:hover {
                    color: rgba($azure, 0.8)
                }
            }
        }
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .homeheader {
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        position: fixed;
        z-index: 100;
        width: 100%;
        font-weight: 600;

        .row {
            display: flex;
            flex-direction: row;
        }

        .mb-icon {
            cursor: pointer;
        }

        .left-nav,
        .right-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            font-size: 14px;
        }

        .nav-opt {
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 7px;

            &:hover,
            &.active {
                color: $red;
            }

            &.btn {
                background-color: $red;
                color: white;
                padding: 5px 15px;
                border-radius: 15px;

                &:hover {
                    background-color: rgba($red, 0.85);
                }
            }
        }

        img {
            height: 35px;
        }
    }
}