@import '../../global.scss';
@import '../../variables.scss';

.form-field {
    width: 100%;
    padding: 0.75rem 1rem; // py-3 px-4
    border: 1px solid #d1d5db; // gray-300
    border-radius: 0.5rem; // rounded-lg
    outline: none;
    transition: all 0.2s ease;


    &:focus {
        box-shadow: 0 0 0 2px #b31b1b; // cornell red ring
    }
}

.form-label {
    display: block;
    font-size: 0.875rem; // text-sm → 14px
    font-weight: 500; // medium
    color: #374151; // gray-700
    margin-bottom: 0.5rem; // mb-2
    text-align: left;
}

.carpool-popup {
    .modal-content {
        padding: 10px 20px;

        .error-text {
            font-size: 12px;
        }
    }
}

h1 {
    font-size: 1.875rem;
    font-weight: 700;
    color: $red;
    margin-bottom: 0.5rem;
}

.carpool-form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}