@import '../../variables';

.footer {
    background-color: $dark-red;
    display: flex;
    flex-direction: row;
    padding: 40px 100px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    font-family: segoe-ui, sans-serif;

    @media (max-width: 786px) {
        flex-direction: column;
        gap: 10px;
    }

    .logo-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: white;
        font-size: 14px;
        font-weight: 600px;
        color: #F4CCCA;

        img {
            width: 273px;
        }

        @media (max-width: 768px) {
            align-items: center;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
    }

    .socials {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .sub-links {
        color: #F4CCCA;

        a {
            text-decoration: none;
            font-size: 14px;

            &:hover {
                color: #f4cccad1
            }
        }
    }
}