@import '../../global.scss';

.carpool-popup {
    .modal {
        .modal-content {
            h3 {
                font-size: 30px;
                text-align: center;
            }

            .carpool-icon {
                width: 120px;
            }

            .modal-actions {
                gap: 15px;

                button {
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}