$modal-bg: #ffffff;
$modal-border: #e5e7eb;
$text-color: #1f2937;
$icon-color: #3b82f6;
$button-hover-bg: rgba(59, 130, 246, 0.75);
$light-orange: #ffcf6e;
$dark-orange: #fda11c;
$red: #cf1c25;
$dark-red: #B31B1B;
$azure: #4B5563;
$dark-yellow: #FAA018;